<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- update this connection string to work for your database -->
    <add name="NLog" connectionString="Data Source=.\;Initial Catalog=TEST001;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
